%h1 Jared currently hates...
#container
#images
  .item
    %img{:alt => "", :src => asset_path("everything2.png")}
  .item
    %img{:alt => "", :src => asset_path("everything1.jpg")}
  .item
    %img{:alt => "", :src => asset_path("brazilians.jpg")}
  .item
    %img{:alt => "", :src => asset_path("everything4.jpg")}
  .item
    %img{:alt => "", :src => asset_path("everything5.jpg")}
  .item
    %img{:alt => "", :src => asset_path("sync.jpg")}
  .item
    %img{:alt => "", :src => asset_path("everything6.jpg")}
  .item
    %img{:alt => "", :src => asset_path("everything7.jpg")}
  .item
    %img{:alt => "", :src => asset_path("everything8.jpg")}
  .item
    %img{:alt => "", :src => asset_path("everything9.jpg")}
  .item
    %img{:alt => "", :src => asset_path("css.png")}
  .item
    %img{:alt => "", :src => asset_path("galaxy.jpg")}
  %button#load-images Poor Jared
  %script{:src => "//masonry.desandro.com/masonry.pkgd.min.js"}
  %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"}